@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --primary-a:hsl(171, 66%, 44%);
    --primary-b:hsl(233, 100%, 69%);

    --neutral-a:hsl(210, 10%, 33%);
    --neutral-b:hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

h1, h2, h3 {
    color: var(--neutral-a);
}

p {
    color: var(--neutral-b);
    margin: .5em auto;
}

/* Header Section */

.wrapper {
    margin: 7em auto;
}

.wrapper p {
    width: 45%;
}

.wrapper img {
    margin-bottom: 2em;
}

.btn {
    border-radius: 40px;
    border: none;
    color: #fff;
    margin: 2em .5em;
    padding: 1em 2em;
}

.btn-1 {
    background: var(--primary-a);
    box-shadow: 0 3px hsl(171, 72%, 33%);
    filter: drop-shadow(0 10px 8px hsl(171, 69%, 87%));
}

.btn-2 {
    background: var(--primary-b);
    box-shadow: 0 3px hsl(233, 59%, 56%);
    filter: drop-shadow(0 10px 8px hsl(233, 94%, 82%));
}

/* Showcase */

.grid-container {
    display: grid;
    margin-bottom: 10em;
    position: relative;
}

.computer {
    position: absolute;
    left: -50px;
}

.side-bar {
    text-align: left;
    justify-self: end;
    width: 27%;
    margin: 2em 15em;
}

.devices {
    margin: 5em auto;
    width: fit-content;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2em;
    margin: 0 5em;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
