@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --primary-a:hsl(171, 66%, 44%);
    --primary-b:hsl(233, 100%, 69%);

    --neutral-a:hsl(210, 10%, 33%);
    --neutral-b:hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin: 0 10%;
}

h1, h2, h3 {
    color: var(--neutral-a);
    font-weight: 600;
    line-height: 2.5;
}

p {
    color: var(--neutral-b);
    font-weight: 400;
}

.content {
    margin: 5em auto;
    padding: 0 20%;
}

.content img {
    margin: 2em;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    text-align: left;
    margin-bottom: 10em;
}

aside img {
    position: absolute;
    left: -200px;
    max-width: 750px;
}

.side-bar {
    margin: 2em;
    padding: 0 1.5em;
    width: 40%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2em;
}

.icons {
    width: 50px;
    height: 45px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}

.banner > * {
    flex: 1 1 fit-content;
}

.btn {
    border-radius: 40px;
    border: none;
    color: #fff;
    margin: 2em .5em;
    padding: .8em 2em;
}

.btn-1 {
    background: var(--primary-a);
    box-shadow: 0 3px hsl(171, 72%, 33%);
    filter: drop-shadow(0 10px 8px hsl(171, 69%, 87%));
}

.btn-2 {
    background: var(--primary-b);
    box-shadow: 0 3px hsl(233, 59%, 56%);
    filter: drop-shadow(0 10px 8px hsl(233, 94%, 82%));
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.devices {
    width: 70%;
}